nodered/classifyImage.json
[{"id":"5ae0c9bd.dbfbb8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"87c04fef.7c337","type":"http in","z":"5ae0c9bd.dbfbb8","name":"send image","url":"/classifyImage","method":"get","upload":false,"swaggerDoc":"","x":102.5,"y":35,"wires":[["e0550c9b.04c32"]]},{"id":"605d3e1f.6dd41","type":"http request","z":"5ae0c9bd.dbfbb8","name":"invoke Watson","method":"GET","ret":"txt","url":"","tls":"","x":288.5,"y":312,"wires":[["e287d99.b927128"]]},{"id":"758d2a18.eacf44","type":"template","z":"5ae0c9bd.dbfbb8","name":"Build output page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head><title>Digital Systems for Humans - Image recognition demo</title></head>\n    <body>\n        <h1>Digital Systems for Humans - Image recognition demo</h1>\n        <p>Analyzed image:</p>\n        <p><img src=\"{{payload.images.0.source_url}}\" height='100'/></p>\n        <table border='1'>\n            <thead><tr><th>Name</th><th>Score</th></tr></thead>\n        {{#payload.images.0.classifiers.0.classes}}\n        <tr><td><b>{{class}}</b></td><td><i>{{score}}</i></td></tr>\n        {{/payload.images.0.classifiers.0.classes}}\n        </table>\n        <form  action=\"{{req._parsedUrl.pathname}}\">\n            <input type=\"submit\" value=\"Try again\"/>\n        </form>\n    </body>\n</html>","output":"str","x":459.5,"y":168,"wires":[["cb88baca.39d0d8"]]},{"id":"cb88baca.39d0d8","type":"http response","z":"5ae0c9bd.dbfbb8","name":"Http result","statusCode":"","headers":{},"x":702.5,"y":133,"wires":[]},{"id":"e0550c9b.04c32","type":"switch","z":"5ae0c9bd.dbfbb8","name":"check image param","property":"payload.imageUrl","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":122.5,"y":104,"wires":[["3bbb300b.3e9a9"],["2d9ff860.cbf688"]]},{"id":"3bbb300b.3e9a9","type":"template","z":"5ae0c9bd.dbfbb8","name":"Get image Url","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n        <title>Digital Systems for Humans - Image recognition demo</title>\n    </head>\n    <body>\n    <h1>Welcome to Digital Systems for Humans - Image recognition demo</h1>\n        <h2>Select an image URL</h2>\n        <form  action=\"{{req._parsedUrl.pathname}}\">\n            <img src=\"https://raw.githubusercontent.com/gmolines/ds4h/master/images/flamingo1.jpg\" height='100'/>\n            <img src=\"https://raw.githubusercontent.com/gmolines/ds4h/master/images/flamingo2.jpg\" height='100'/>\n            <img src=\"https://raw.githubusercontent.com/gmolines/ds4h/master/images/ibis1.jpg\" height='100'/>\n            <img src=\"https://raw.githubusercontent.com/gmolines/ds4h/master/images/ibis2.jpg\" height='100'/>\n            <br/>Copy above image location URL or enter any image URL:<br/>\n            <input type=\"text\" name=\"imageUrl\"/>\n            <input type=\"submit\" value=\"Analyze\"/>\n        </form>\n    </body>\n</html>\n","output":"str","x":456.5,"y":97,"wires":[["cb88baca.39d0d8"]]},{"id":"e287d99.b927128","type":"json","z":"5ae0c9bd.dbfbb8","name":"","property":"payload","action":"","pretty":false,"x":477.5,"y":312,"wires":[["758d2a18.eacf44"]]},{"id":"2d9ff860.cbf688","type":"function","z":"5ae0c9bd.dbfbb8","name":"extract image url","func":"var targetUrl = \"https://gateway.watsonplatform.net/visual-recognition/api/v3/classify?url=\" + msg.payload.imageUrl + \"&version=2018-03-19&classifier_ids=DefaultCustomModel_303850141\";\nmsg.url = targetUrl;\nreturn msg;\n","outputs":1,"noerr":0,"x":130.5,"y":176,"wires":[["605d3e1f.6dd41"]]}]