nodered/classify_image_answer.json
[{"id":"dbe03815.17b128","type":"tab","label":"Classify Image (answer)","disabled":false,"info":""},{"id":"86cd951.d9d9f68","type":"http in","z":"dbe03815.17b128","name":"send image","url":"/classifyImage","method":"get","upload":false,"swaggerDoc":"","x":102.5,"y":35,"wires":[["3ff07d1b.04bf52"]]},{"id":"c395d0d.6cb2d3","type":"http request","z":"dbe03815.17b128","name":"invoke Watson","method":"GET","ret":"txt","url":"","tls":"","x":288.5,"y":312,"wires":[["b63fb16d.d05f9"]]},{"id":"4be3f979.edae48","type":"template","z":"dbe03815.17b128","name":"Build output page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head><title>Digital Systems for Humans - Image recognition demo</title></head>\n    <body>\n        <h1>Digital Systems for Humans - Image recognition demo</h1>\n        <p>Analyzed image:</p>\n        <p><img src=\"{{payload.images.0.source_url}}\" height='100'/></p>\n        <table border='1'>\n            <thead><tr><th>Name</th><th>Score</th></tr></thead>\n        {{#payload.images.0.classifiers.0.classes}}\n        <tr><td><b>{{class}}</b></td><td><i>{{score}}</i></td></tr>\n        {{/payload.images.0.classifiers.0.classes}}\n        </table>\n        <form  action=\"{{req._parsedUrl.pathname}}\">\n            <input type=\"submit\" value=\"Try again\"/>\n        </form>\n    </body>\n</html>","output":"str","x":459.5,"y":168,"wires":[["db4950bd.e002e"]]},{"id":"db4950bd.e002e","type":"http response","z":"dbe03815.17b128","name":"Http result","statusCode":"","headers":{},"x":702.5,"y":133,"wires":[]},{"id":"3ff07d1b.04bf52","type":"switch","z":"dbe03815.17b128","name":"check image param","property":"payload.imageUrl","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":122.5,"y":104,"wires":[["3d40e952.2c4466"],["760fedcb.373c34"]]},{"id":"3d40e952.2c4466","type":"template","z":"dbe03815.17b128","name":"Get image Url","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n        <title>Digital Systems for Humans - Image recognition demo</title>\n    </head>\n    <body>\n    <h1>Welcome to Digital Systems for Humans - Image recognition demo</h1>\n        <h2>Select an image URL</h2>\n        <form  action=\"{{req._parsedUrl.pathname}}\">\n            <img src=\"https://raw.githubusercontent.com/gmolines/ds4h/master/images/flamingo1.jpg\" height='100'/>\n            <img src=\"https://raw.githubusercontent.com/gmolines/ds4h/master/images/flamingo2.jpg\" height='100'/>\n            <img src=\"https://raw.githubusercontent.com/gmolines/ds4h/master/images/ibis1.jpg\" height='100'/>\n            <img src=\"https://raw.githubusercontent.com/gmolines/ds4h/master/images/ibis2.jpg\" height='100'/>\n            <br/>Copy above image location URL or enter any image URL:<br/>\n            <input type=\"text\" name=\"imageUrl\"/>\n            <input type=\"submit\" value=\"Analyze\"/>\n        </form>\n    </body>\n</html>\n","output":"str","x":456.5,"y":97,"wires":[["db4950bd.e002e"]]},{"id":"b63fb16d.d05f9","type":"json","z":"dbe03815.17b128","name":"","property":"payload","action":"","pretty":false,"x":477.5,"y":312,"wires":[["4be3f979.edae48"]]},{"id":"760fedcb.373c34","type":"function","z":"dbe03815.17b128","name":"extract image url","func":"var targetUrl = \"https://gateway.watsonplatform.net/visual-recognition/api/v3/classify?url=\" + msg.payload.imageUrl + \"&version=2018-03-19&classifier_ids=\";\nvar modelName = \"DefaultCustomModel_303850141\";\nmsg.url = targetUrl + modelName;\nreturn msg;\n","outputs":1,"noerr":0,"x":130.5,"y":176,"wires":[["c395d0d.6cb2d3"]]}]