nodered/classify_image_start.json
[{"id":"4197feea.853cf","type":"tab","label":"Classify Image (start)","disabled":false,"info":""},{"id":"830ef198.6af94","type":"http in","z":"4197feea.853cf","name":"send image","url":"/classifyImage","method":"get","upload":false,"swaggerDoc":"","x":102.5,"y":35,"wires":[["e40916f8.93e588"]]},{"id":"7d0627a1.f3a658","type":"template","z":"4197feea.853cf","name":"Build output page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head><title>Digital Systems for Humans - Image recognition demo</title></head>\n    <body>\n        <h1>Digital Systems for Humans - Image recognition demo</h1>\n        <p>Analyzed image:</p>\n        <p><img src=\"{{payload.images.0.source_url}}\" height='100'/></p>\n        <table border='1'>\n            <thead><tr><th>Name</th><th>Score</th></tr></thead>\n        {{#payload.images.0.classifiers.0.classes}}\n        <tr><td><b>{{class}}</b></td><td><i>{{score}}</i></td></tr>\n        {{/payload.images.0.classifiers.0.classes}}\n        </table>\n        <form  action=\"{{req._parsedUrl.pathname}}\">\n            <input type=\"submit\" value=\"Try again\"/>\n        </form>\n    </body>\n</html>","output":"str","x":459.5,"y":168,"wires":[["2a74a245.adaf5e"]]},{"id":"2a74a245.adaf5e","type":"http response","z":"4197feea.853cf","name":"Http result","statusCode":"","headers":{},"x":702.5,"y":133,"wires":[]},{"id":"e40916f8.93e588","type":"switch","z":"4197feea.853cf","name":"check image param","property":"payload.imageUrl","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":122.5,"y":104,"wires":[["844712f8.f501d"],[]]},{"id":"844712f8.f501d","type":"template","z":"4197feea.853cf","name":"Get image Url","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n        <title>Digital Systems for Humans - Image recognition demo</title>\n    </head>\n    <body>\n    <h1>Welcome to Digital Systems for Humans - Image recognition demo</h1>\n        <h2>Select an image URL</h2>\n        <form  action=\"{{req._parsedUrl.pathname}}\">\n            <img src=\"https://raw.githubusercontent.com/gmolines/ds4h/master/images/flamingo1.jpg\" height='100'/>\n            <img src=\"https://raw.githubusercontent.com/gmolines/ds4h/master/images/flamingo2.jpg\" height='100'/>\n            <img src=\"https://raw.githubusercontent.com/gmolines/ds4h/master/images/ibis1.jpg\" height='100'/>\n            <img src=\"https://raw.githubusercontent.com/gmolines/ds4h/master/images/ibis2.jpg\" height='100'/>\n            <br/>Copy above image location URL or enter any image URL:<br/>\n            <input type=\"text\" name=\"imageUrl\"/>\n            <input type=\"submit\" value=\"Analyze\"/>\n        </form>\n    </body>\n</html>\n","output":"str","x":456.5,"y":97,"wires":[["2a74a245.adaf5e"]]},{"id":"d93dfb95.bcb278","type":"json","z":"4197feea.853cf","name":"","property":"payload","action":"","pretty":false,"x":477.5,"y":312,"wires":[["7d0627a1.f3a658"]]}]