nodered/classify_image_start.json
[{"id":"6f191ab1.f7fb04","type":"tab","label":"Classify Image (start)","disabled":false,"info":""},{"id":"5e8951a5.8de69","type":"http in","z":"6f191ab1.f7fb04","name":"send image","url":"/classifyImage","method":"get","upload":false,"swaggerDoc":"","x":102.5,"y":35,"wires":[["1e2b4e1a.dbaac2"]]},{"id":"90b54ce8.a7c14","type":"http request","z":"6f191ab1.f7fb04","name":"invoke Watson","method":"GET","ret":"txt","url":"","tls":"","x":288.5,"y":312,"wires":[["fbe4de2b.4feae"]]},{"id":"4ae7c413.0df5cc","type":"template","z":"6f191ab1.f7fb04","name":"Build output page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head><title>Digital Systems for Humans - Image recognition demo</title></head>\n    <body>\n        <h1>Digital Systems for Humans - Image recognition demo</h1>\n        <p>Analyzed image:</p>\n        <p><img src=\"{{payload.images.0.source_url}}\" height='100'/></p>\n        <table border='1'>\n            <thead><tr><th>Name</th><th>Score</th></tr></thead>\n        {{#payload.images.0.classifiers.0.classes}}\n        <tr><td><b>{{class}}</b></td><td><i>{{score}}</i></td></tr>\n        {{/payload.images.0.classifiers.0.classes}}\n        </table>\n        <form  action=\"{{req._parsedUrl.pathname}}\">\n            <input type=\"submit\" value=\"Try again\"/>\n        </form>\n    </body>\n</html>","output":"str","x":459.5,"y":168,"wires":[["95762e3e.4315a"]]},{"id":"95762e3e.4315a","type":"http response","z":"6f191ab1.f7fb04","name":"Http result","statusCode":"","headers":{},"x":702.5,"y":133,"wires":[]},{"id":"1e2b4e1a.dbaac2","type":"switch","z":"6f191ab1.f7fb04","name":"check image param","property":"payload.imageUrl","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":122.5,"y":104,"wires":[["e4938f3.3c0537"],["410f9f6f.14c57"]]},{"id":"e4938f3.3c0537","type":"template","z":"6f191ab1.f7fb04","name":"Get image Url","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n        <title>Digital Systems for Humans - Image recognition demo</title>\n    </head>\n    <body>\n    <h1>Welcome to Digital Systems for Humans - Image recognition demo</h1>\n        <h2>Select an image URL</h2>\n        <form  action=\"{{req._parsedUrl.pathname}}\">\n            <img src=\"https://raw.githubusercontent.com/gmolines/ds4h/master/images/flamingo1.jpg\" height='100'/>\n            <img src=\"https://raw.githubusercontent.com/gmolines/ds4h/master/images/flamingo2.jpg\" height='100'/>\n            <img src=\"https://raw.githubusercontent.com/gmolines/ds4h/master/images/ibis1.jpg\" height='100'/>\n            <img src=\"https://raw.githubusercontent.com/gmolines/ds4h/master/images/ibis2.jpg\" height='100'/>\n            <br/>Copy above image location URL or enter any image URL:<br/>\n            <input type=\"text\" name=\"imageUrl\"/>\n            <input type=\"submit\" value=\"Analyze\"/>\n        </form>\n    </body>\n</html>\n","output":"str","x":456.5,"y":97,"wires":[["95762e3e.4315a"]]},{"id":"fbe4de2b.4feae","type":"json","z":"6f191ab1.f7fb04","name":"","property":"payload","action":"","pretty":false,"x":477.5,"y":312,"wires":[["4ae7c413.0df5cc"]]},{"id":"410f9f6f.14c57","type":"function","z":"6f191ab1.f7fb04","name":"extract image url","func":"var targetUrl = ...;\nvar modelName = ...;\nmsg.url = targetUrl + modelName;\nreturn msg;\n","outputs":1,"noerr":4,"x":130.5,"y":176,"wires":[["90b54ce8.a7c14"]]}]